{% from "helpers/classes.njk" import cls %}
{% set sobreNosData = 'sobre-nos.json' | parseJSON %}
<div class="{{ cls('block') }} {{ cls('block', '', 'sobre-nos') }}">
  <ul class="{{ cls('breadcrumb') }} {{ cls('breadcrumb', '', 'sobre-nos') }}">
    {% for item in sobreNosData.breadcrumb %}
      {% if item.active %}
        <li class="{{ cls('breadcrumb', 'item', 'active') }}">{{ item.text }}</li>
      {% else %}
        <li class="{{ cls('breadcrumb', 'item') }}">
          <a class="{{ cls('breadcrumb', 'link') }}" href="{{ item.url }}">{{ item.text }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  <h1 class="{{ cls('title') }} {{ cls('title', '', 'sobre-nos') }}">{{ sobreNosData.title }}</h1>
</div>