{% from "helpers/classes.njk" import cls %}
{% set sobreNosData = 'sobre-nos.json' | parseJSON %}
<div class="{{ cls('segments') }}">
  <div class="{{ cls('segments', 'header') }}">
    <h3 class="{{ cls('segments', 'title') }}">{{ sobreNosData.segments.title }}</h3>
    <p class="{{ cls('segments', 'description') }}">{{ sobreNosData.segments.description }}</p>
  </div>
  <div class="{{ cls('segments', 'container') }}">
    {% for item in sobreNosData.segments.items %}
      <div class="{{ cls('segments', 'box') }}">
        <h4 class="{{ cls('segments', 'name') }}">
          {{ item.name }}
          <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17 9L9 1L1 9" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </h4>
        <div class="{{ cls('segments', 'content') }}">
          <img src="{{ item.image | magento }}" alt="{{ item.name }}"/>
          <p class="{{ cls('segments', 'text') }}">{{ item.text }}</p>
          {% if item.link %}
            <a class="{{ cls('segments', 'link') }}" href="{{ item.link.url }}">{{ item.link.text }}</a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>